#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}


*{
  padding: 0;
  margin: 0;
}

body{

  height: 100vh;
  width: 100vh;
}

.container form{
  padding: 32px 32px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container form .name-form-container {
  display: flex;
  align-items: center;
  gap: 14px;
}
